@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body {
  margin: 0;
  padding: 0;
}

/*BARRA DE MENU******************/
.logo {
  width: 9%;
  border-radius: 20%;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  border-radius: 20px 20px 20px 20px;
  margin-left: 1%;
  margin-top: 0%;
  text-align: auto;
  padding: 10px;
}


#divBusca {
  background-color: #E0EEEE;
  border: solid 2px #c47fb3;
  border-radius: 10px;
  width: 300px;
  height: 35px;
 
}

.container-hearder {
  width: 100%;
}

#txtBusca {
  float: left;
  background-color: transparent;
  padding-left: 5px;
  font-size: 18px;
  border: none;
  height: 32px;
  width: 191px;
}

ul {
  margin-top: 1rem !important;
}

.image-input {
  height: 1.4rem;
}

#btnBusca {
  border: none;
  float: left;
  height: 32px;
  border-radius: 0 7px 7px 0;
  width: 70px;
  font-weight: bold;
  background: #c47fb3;
}

#divBusca img {
  float: left;
  size: 23px;
}


nav {
  width: 100%;
  background-image: url("https://drive.google.com/uc?export=download&id=1bEcufWuMmy0WQwRhOKvhJRlErWt8FRKV");
  float: left;
  padding: 10px 0px 0px 10px;
}

nav ul li {
  list-style: none;
  display: inline;
  font-size: 30px;

}

nav ul li a {
  padding: 10px;
  color: #942d66;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: bold;
  backdrop-filter: blur(40px);
  border-radius: 20px 20px 20px 20px;
  margin-left: 3%;
  margin-top: 0%;
  text-align: auto;
  padding: 1% 2% 1% 2%;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(40px);
}

.foto-perfil{
  width: 50px;
  border-radius: 50px;
  margin-right: 20px;
  margin-bottom: 10px;
  
 
  
}

nav.nav-container {
  height: 7rem;
  width: 100%;
}

#menu,
.menu {
  display: none;
}

.content {
  background-color: #ffffff;
  width: 100%;
  padding-top: 9rem;
  align-items: center;
}

/*PARTE RAÇAS POR PORTE***********************/
.legendaporte1 span{
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #772452;
  margin-top: 1rem;
  text-decoration:none;
}

.img-porte {
  width: 20rem;
  height: 16rem;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(40px);
  border-radius: 50% 50% 50% 50%;
}

.container-doguinho {
  margin: 3rem;
  margin-top: 2rem;
}

/*GRANDE PORTE********************************/
.legendaportegrande span{
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #772452;
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-decoration:none;
}

.img-portegrande {
  width: 15rem;
  height: 12rem;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(40px);
  border-radius: 50% 50% 50% 50%;
}

.container-doguinhogrande {
  margin: 3rem;
  margin-top: 2rem;
  margin-left: 2rem;
}

.img-raca{
  width: 30rem;
  height: 24rem;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(40px);
  border-radius: 25% 25% 25% 25%;
  margin-top: 1rem;
}

/*RESPONSIVIDADE********************************/
@media screen and (max-width: 480px) {

 .hearder{
  position: fixed;
  top: 0px;
  width: 100%;
 }

 .hearder nav{
  display: absolute;
  width: 100%;
  height: 100%;
 }

.menu-icon{
  display: block;
  width: 50px;
  height: inherit;
  position: absolute;
  top: 15px;
  right: 30px;
  line-height: 60px;

}

.menu-icon i {
  font-size: 1.7em;
}

 .nav ul {
  display: flex;
  flex-wrap: wrap;
  top: 0px;
  padding: 10px;
  float: right;
  align-items: center;
  height: 100%;
  background-color: rgba(247, 44, 196, 0.342);
}

#menutoggle:checked ~ label i:nth-child(2) {
  display: block;
}

.nav ul li {
  display: absolute;
  width: 100%;
  height: 100%;
}

.nav ul  li a  {
  display: block;
  text-align: center;
  width: 100%;
}

  divbuscar{
    display: block;
    float: left;
    padding: 10px 10px;
  }

  .logo {
    display: block;
    width: 50%;
  
  }
  
  racas {
    display: flex; 
    flex-wrap: wrap;
    max-width: 100%
  }
  
  img{
  
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  
   
  }

}

#menu-toggle{
  display: none;
}

.menu-icon{
  display: none;
}


hr {
  font-weight: bold;
}

.mapa {
  display: block;
  text-align: center;
  height: 80%;
}





/*CURIOSIDADES***************************************************************/



.curiosidades {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;

}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 24px auto;
  background-color: wheat;
}

#item {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

#item img {
  border-radius: 8px 0 0 8px;
  width: 50%;
}

.about {
  width: 50%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--primary);
  border-radius: 0 8px 8px 0;
}

.about a {
  width: 80%;
  height: 50px;
  border-radius: 16px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(112, 193, 207);
  border: 1px solid var(--white);
}

.about a:hover {
  animation-duration: 0.5s;
  animation-name: changeScale;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes changeScale {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.03);
  }
}

@media (min-width: 576px) {

  .curiosidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: auto;
    margin: 24px auto;
  }

  #item {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    height: auto;
    justify-content: space-between;
  }

  #item img {
    border-radius: 8px 0 0 8px;
    max-width: 100%;
    height: auto;
  }
}

.about {
  background-image: url("https://drive.google.com/uc?export=download&id=1bEcufWuMmy0WQwRhOKvhJRlErWt8FRKV");
}